# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:** 
- Data Science Tools
- Popular languages that Data Scientists use
- Libraries used by Data Scientist

### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java
4. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

| Data Science Tools |
-----------------
RStudio
Apache Spark
TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
8*1

8

In [8]:
(5+3)

8

In [9]:
(2*2*2)

8

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shadiyah Payne